
body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  
}

@font-face {
  font-family: myPoppins;
  src: url('src\assets\fonts\Poppins\Poppins-SemiBold.ttf');
}

a {
  color: #4fa6d5;
  text-decoration: none;
}

a:hover {
  color: #45beff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: myPoppins, sans-serif;
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #68A4C4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #85b6cf;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.error-snackbar {
  background-color: #f81100;
  color: white;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: myPoppins, "Helvetica Neue", sans-serif;
}
