<div class="wrapper">

  <div class="container">
    <div class="text-container">
      <h2 class="text-header">Overview</h2>
      <p class="text">Your digital gateway to a vast collection of books and
        e-books. Our mission is to provide you with easy
         and convenient access to the best reading material, anytime and anywhere. 
         Whether you're an avid reader,a student, or just looking to learn something
          new, our e-Library has something for everyone.</p>
    </div>
    <div class="image-container">
      <img src="assets\img\iit2.jpg" alt="image" class="image">
    </div>
  </div>


  <div class="container">
    <div class="image-container">
      <img src="assets\img\iit4.jpg" alt="image" class="image">
    </div>
    <div class="text-container">
      <h2 class="text-header">Our Mission</h2>
      <p class="text">Our mission is to promote reading and lifelong learning by providing a diverse collection of high-quality reading material that is accessible to everyone. We believe that reading is essential for personal growth, and we strive to create a welcoming environment that encourages people of all ages and backgrounds to discover the joys of reading.</p>
    </div>
  </div>

  <div class="container">
    <div class="text-container">
      <h2 class="text-header">Our Vision</h2>
      <p class="text">Our vision is to be the leading provider of digital reading material, offering a comprehensive and user-friendly platform that meets the needs of our users. We envision a world where everyone has access to the knowledge and inspiration that reading provides, and we are committed to making that vision a reality .</p>
    </div>
    <div class="image-container">
      <img src="assets\img\iit3.jpg" alt="image" class="image">
    </div>
  </div>


  <div class="container">
    <div class="image-container">
      <img src="assets\img\iit1.jpg" alt="image" class="image">
    </div>
    <div class="text-container">
      <h2 class="text-header">Our Values</h2>
      <p class="text">At our e-library, we value knowledge, accessibility, and inclusivity. We believe that everyone should have the opportunity to learn and grow, regardless of their background or circumstances. That's why we strive to provide a wide range of resources and services to our users, from e-books and online courses to community events and workshops. Our goal is to create a welcoming and supportive environment where people can explore new ideas, connect with others, and discover their full potential. </p>
  </div>
  
</div>
