/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 95%;
  background: rgba(30, 67, 86);
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) rotate(0deg);
}

#hero::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 96%;
  background: #68A4C4;
  opacity: 0.3;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) translateY(18px) rotate(2deg);
}

#hero .carousel-container {
  text-align: left;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

#hero p {
  width: 80%;
  animation-delay: 0.4s;
  color: #fff;
  font-family: "Roboto", sans-serif;
}


.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 40px;
  background: #fff;
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
}

.services .icon-box:hover {
  transform: scale(1.1);
}

section {
  padding: 3rem;
  margin: 5rem 5rem 10rem 5rem;
}

table {
  margin-top: 0.5rem;
}

td, th, tr{
  font-family: myPoppins;
}