
.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 40px;
    background: #fff;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #fff;
  }
  .services .icon-box:hover {
    transform: scale(1.1);
    cursor: pointer;
  }