<section style="margin: 10% auto">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange(sort)"
    class="mat-elevation-z8">

<!-- Position Column -->
<ng-container matColumnDef="position">
 <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
   No.
 </th>
 <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="name">
 <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
   Name
 </th>
 <td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>

<ng-container matColumnDef="roll">
 <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by roll">
   Roll
 </th>
 <td mat-cell *matCellDef="let element"> {{element.roll}} </td>
</ng-container>

<ng-container matColumnDef="batch">
 <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by batch">
   Batch
 </th>
 <td mat-cell *matCellDef="let element"> {{element.batch}} </td>
</ng-container>

<ng-container matColumnDef="session">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by session">
      Session
    </th>
    <td mat-cell *matCellDef="let element"> {{element.session}} </td>
</ng-container>

<ng-container matColumnDef="program_level">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by program_level">
      Program Level
    </th>
    <td mat-cell *matCellDef="let element"> {{element.program_level}} </td>
</ng-container>

<ng-container matColumnDef="mobile_number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mobile_number">
      Mobile Number
    </th>
    <td mat-cell *matCellDef="let element"> {{element.mobile_number}} </td>
</ng-container>

<ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
      Email
    </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
</ng-container>

<ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address">
      Address
    </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
</ng-container>

<ng-container matColumnDef="approve">
    <th mat-header-cell *matHeaderCellDef>
      Approve
    </th>
    <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" *ngIf="element.status==='false'" (click)="approveRow(element)">Approve</button>
    </td>
</ng-container>
<ng-container matColumnDef="reject">
    <th mat-header-cell *matHeaderCellDef>
      Reject
    </th>
    <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" *ngIf="element.status==='n/a'" (click)="rejectRow(element)">Reject</button>
    </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</section>