<section style="margin: 10%;">
    <div class="container">
        <div class="row">
            <div class="col">{{user.name}}</div>
            <div class="col">{{user.roll}}</div>
            <div class="col">{{user.batch}}</div>
            <div class="col">{{user.program_level}}</div>
            <div class="col">{{user.email}}</div>
            <div class="col">{{user.mobile_number}}</div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#removalConfirm">Remove</button>
            </div>
            <div class="col">
                <a href="mailto:{{user.email}}"><button type="button" class="btn btn-primary">Send Mail</button></a>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="removalConfirm">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">User Removal Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure you want to remove {{user.name}}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="confirmRemoval()" data-bs-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</section>