  <section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row">
        <div class="col-md-8">
          <h2>Welcome to Online Library</h2>
          <p>Tour the library from anywhere</p>
        </div>
      </div>
    </div>
  </section><!-- End Hero No Slider Sectio -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">
        <div class="section-title">
          <h2>EBOOKS</h2>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <img src="../../assets/img/book_cover/discrete_kenneth.png" alt="discrete_kenneth" width="90%" height="70%">
              <h6 class="title text-start"><a href="../../assets/img/discrete-mathematics-and-its-applications-seventh-.pdf">Discrete Mathematics and Its Applications </a></h6>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="features">
      <div class="container">
        <div class="row" data-aos="fade-up">
          <div class="col-md-7 section-title">
            <h2>NEW ARRIVALS</h2>
          </div>
          <div class="col-md-5">
            <img src="../../assets/img/new_arrivals.jpg" class="img-fluid" alt="" >
          </div>
          
        </div>
      </div>
    </section>
    <section>
      <app-book-catalog></app-book-catalog>
    </section>

  </main>