<section style="margin: 10%;">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Title: {{book.title}}</p>
                <p>Author: {{book.author}}</p>
                <p>Description:{{book.description}}</p>
            </div>
            <div class="col">
                <img src="{{book.imageUrl}}" alt="" width="50%">
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary">Return</button>

</section>