
<div class="book-details">
  <div class="book-image">
    <img src="{{book.imageUrl}}" alt="{{book.title}}">
  </div>
  <div class="book-info">
    <h2 class="book-title">{{book.title}}</h2>
    <p class="book-author">by {{book.author}}</p>
    <div class="book-description">{{book.description}}</div>
    <div class="book-quantity">Available Quantity: <span class="{{book.available_quantity > 0 ? 'available' : 'not-available'}}">{{book.available_quantity}}</span></div>
    <div class="book-format">Soft Copy: <span class="{{book.softcopy === 'No' ? 'not-available' : 'available'}}">{{book.softcopy}}</span></div>
    <button class="request-button" *ngIf="book.available_quantity > 0">Request This Book</button>
  </div>
</div>
