<section style="margin-top: 10%;">
  <div class="book-details">
    <div class="book-image">
      <img [src]="sanitizeImageUrl(book.imageUrl)" alt="{{book.title}}">
    </div>
    <div class="book-info">
      <h2 class="book-title">{{book.title}}</h2>
      <p class="book-author">by {{book.author}}</p>
      <div class="book-description">{{book.description}}</div>
      <div class="book-quantity">Available Quantity: <span class="{{book.available_quantity > 0 ? 'available' : 'not-available'}}">{{book.available_quantity}}</span></div>
      <div class="book-format">Soft Copy: <span class="{{book.softCopyUrl === 'No' ? 'not-available' : 'available'}}">{{book.softCopyUrl}}</span></div>
      <button class="request-button" *ngIf="book.available_quantity > 0">Request This Book</button>
    </div>
    
  </div>  
</section>
