<div class="footer-wrapper">
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2>Contact Us</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 footer-info align-content-center text-start">
            <h4>Swarna Islam</h4>
            <h5>Phone: +8801409614967</h5>
            <div class="social-links mt-3">
              <a href="mailto:bsse1214@iit.du.ac.bd" class="gmail"><i class="bx bxl-gmail"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100044664090756" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.linkedin.com/in/swarna-islam-373354153/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
              <a href="https://github.com/SwarnaIslam" class="github" target="_blank"><i class="bx bxl-github"></i></a>
            </div>
          </div>
          <div class="col-md-4 footer-info align-content-center text-center">
            <h4>Istiaq Ahmed Fahad</h4>
            <h5>Phone: +8801766610087</h5>
            <div class="social-links mt-3">
              <a href="mailto:bsse1204@iit.du.ac.bd" class="gmail" target="_blank"><i class="bx bxl-gmail"></i></a>
              <a href="https://www.facebook.com/istiaqahmed.fahad" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.linkedin.com/in/istiaq-ahmed-fahad-5666431a6/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
              <a href="https://github.com/ahmedfahad04" class="github" target="_blank"><i class="bx bxl-github"></i></a>
            </div>
          </div>
          <div class="col-md-4 footer-info align-content-center text-end">
            <h4> Kamruzzaman Asif</h4>
            <h5>Phone: +8801796094786</h5>
            <div class="social-links mt-3">
              <a href="mailto:bsse1217@iit.du.ac.bd" class="gmail" target="_blank"><i class="bx bxl-gmail"></i></a>
              <a href="https://www.facebook.com/kamruzzaman.asif.35" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.linkedin.com/in/kamruzzaman-asif-67574b225/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
              <a href="https://github.com/KamruzzamanAsif" class="github" target="_blank"><i class="bx bxl-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright
      </div>
    </div>
  </footer>
</div>